body {
  background: url(gambar/fecd644a-b66f-4eb7-8ce6-67c05ef457e0.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color:whitesmoke;
}
h1{
    color: yellow;
}

h2 {
  font-size: 200%;
  text-align: center;
}

h3 {
    font-size: 160%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

/* From Uiverse.io by mrhyddenn */ 
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* *, html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
} */

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 80px;
  background-color: #222;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 5);
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
  text-transform: capitalize;
}

.firstname {
  color: white;
  font-weight: 700;

}

.lastname {
  color: crimson;
  font-weight: 400;
  padding: 4px;

}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > li {
  list-style-type: none;
  padding: 15px;
}

.navigation > li > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation > li > a:hover {
  color: crimson;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: crimson;
  color: white;
  padding: 15px;
}

.active:hover{
  color: white !important;
}